<!DOCTYPE html>
<html>
  <head>
    <title>Clubhouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="h-screen flex flex-col justify-between">
      <%= render 'layouts/header' %>
      <% if not flash.empty? %>
      <div class="mx-auto w-3/4 my-4">
        <h3 class="w-full text-center rounded py-2 px-4 bg-blue-300 text-blue-900"><%= flash[:notice] %></h3>
      </div>
      <%end%>
      <div class="w-1/2 container mx-auto my-4">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
